.profile-icon {  
  margin-right: 5px;
  width: 30px;
  background-color: white;  
  border-radius: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {     
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:1px solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;    
  color:black;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);  
}

.food-card {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
  background-color: white;  
}
