* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;    
  background: -webkit-linear-gradient(red,orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  /* text-shadow:white 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px */
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  background: -webkit-linear-gradient(red,orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  text-align: center;
  background: -webkit-linear-gradient(red,orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  /* color: white;  
  text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px */
}

.a-p {
  font-size: 20px;
  text-align: center;
  background: -webkit-linear-gradient(red,orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.div-food-area {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 10px;
  padding:  5px;
  margin: 10px 3px;  
}

.div-food-area img{
  border-radius: 5px;
}

.search-button {
  border-radius: 0px;
  height: 30px;
  border: 1px solid red;  
}