.profile-icon {  
  margin-right: 5px;
  width: 30px;
  background-color: white;  
  border-radius: 50%;

}

.search-icon {    
  width: 25px;       
}

.search-icon-button{
  background-color: whitesmoke;
  border-radius: 50%;  
  border: none;
}

body {
  background: #F8D4E4 !important;
}

.food-card {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);  
}

.comida-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}